#about-us {
    margin-top: 0px;
    padding-top: 0px;
}
  
.about-sm {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    border-radius: 100px;
}
  
.about-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
  
.about-block {
    width: 100%;
    margin-bottom: 32px;
    max-width: 450px;
}
  
.about-block p {
    text-align: left;
}
  
.about-para {
    margin-top: 0px;
    font-size: 14px;
}