body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #D4E0AE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.title > p {
  font-size: 48px;
  font-weight: bold;
}

.gagvf-img {
  height: 200px;
  padding-right: 3rem;
}

.sponsor, .project, .features, .team {
  padding: 5rem 20rem 8rem 20rem;
}

.sponsor-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.team-members > div > img {
  width: 200px;
  height: 200px
}

.name {
  font-weight: bold;
}

.subheading {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
}

.team-name {
  font-size: 24px;
  text-align: left;
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content-p {
  text-align: left;
}



.sponsor, .team {
  background-color: #FFCDA8;
}

.project {
  background-color: #E2925F;
}